.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding: 30px 30px;
}

.title>h1{
    margin-right: 55%;
}

.title>.filter{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

/* .title>.filter>span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #EAF9FF;
    padding: 10px 30px;
    border-radius: 50px;
}

.filter>span>.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
} */

.filter>span{
    position: relative;
    transform: translateY(-8px);
}

.filter>span>.arrow-down{
    position: absolute;
    right: 20%;
    top: 65%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.filter>span>.c-down{
    display: none;
}

.title>.filter>span>label{
    display: none;
}

.title>.filter>span>select{
    /* text-align: left; */
    background: #EAF9FF;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    padding: 5px 40px 5px 15px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    color: #000 !important;
    font-weight: normal;
    font-size: 14px;
}

.table{
    width: 100%;
    text-align: left;
}

.listrow, .listheader{
    cursor: default;
    display: flex;
    height: 60px;
    padding: 30px;
    padding-right: 60px;
    text-align: left;
    background: #EAF9FF;
    align-items: center;
    /* background: red; */
}

.listrow>*, .listheader>*{
    width: calc(100% / 4);
    margin-right: 30px;
}


.listrow{
    background: #FFF;
    font-size: 16px;
    box-shadow: 0px 3px 6px #9D9D9D29;
}

.listrow>p>span{
    padding: 5px 30px;
    border-radius: 50px;
    background: purple;
}

.listrow>p>.Active{
    background: #D3F4BE;
}

.listrow>p>.Inactive{
    background:#FFBFBF;

}

.listrow>p>.Probation{
    background: #F5ECB8;
}

.listrow>p>i{
    margin-right: 10px;
    cursor: pointer;
}

.listrow>p>.fa-trash-can{
    color: #FA4242;
}

.listrow>p>.fa-pen-to-square{
    color: #03AEEE;
}


